.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
comp
src/routes/acount/login/index.svelte
src/lib/request.ts
src/routes/acount/register/index.svelte
.gitignore
package-lock.json
