<style>
  /* 예제파일을 사용하실 때 이걸 지우고 사용하시면 됩니다./시작/ */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
  }
  * {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
  }
  /* 예제파일을 사용하실 때 이걸 지우고 사용하시면 됩니다./끝/ */

  [class*='highlight'] {
    display: inline-table;
    position: relative;
    overflow: hidden;
  }
  [class*='highlight'] span {
    position: relative;
    z-index: 2;
    line-height: 1.8;
  }
  [class*='highlight']::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.8);
    transition: all 0.35s;
    z-index: 1;
  }

  .highlight01::before {
    background: rgba(255, 200, 0, 0.8);
  }
  .highlight02::before {
    background: rgba(255, 0, 139, 0.8);
  }

  .content:hover [class*='highlight']::before {
    left: 0;
  }
</style>
<div class="content">
  <h3>Illustrations</h3>
  <p>
    <span class="highlight01"><span>Illustration is a visual interpretation of something.</span></span>
		<span class="highlight02"><span>Illustrations</span></span> can be used for
    anything from technical information to fine art. Modern
    <span class="highlight02"><span>illustration</span></span> also encompasses
    variety of techniques, including painting, printmaking, drawing and such.
    Download our best
    <span class="highlight02"><span>illustrations</span></span> in this
    exclusive bundle deal.
  </p>
</div>
