/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* background-color: rgb(190, 200, 211); */
}
body {
  /* height: 100vh; */
}

/* editor content */
.contentRoot{ height: 96vh; overflow-y: scroll; transition: 0.3s; }
/* 스크롤바 */
::-webkit-scrollbar {
  background-color: hsl(var(--b1)); 
  width: 20px; 
} 
/* :hover::-webkit-scrollbar {
  width: 14px; 
}
:hover::-webkit-scrollbar-thumb { 
  width: 13px;
  background-color: hsl(var(--af)); 
  box-shadow: inset 0 0 50px hsl(var(--b1));
  border-radius: 100px;
  transition: 0.3s;
} */
::-webkit-scrollbar-thumb { 
  background-color: hsl(var(--a)); 
  box-shadow: inset 10px 0 0 5px hsl(var(--b1));
  /* border-radius: 100px; */
  cursor: row-resize;
}
