/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* background-color: rgb(190, 200, 211); */
}
body {
  height: 100vh;
}

/* svelte-popperjs */
#tooltip {
  background: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}
#arrow, #arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
#arrow {
  visibility: hidden;
}
#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}
#arrow[placement^="top"] { bottom: -4px; }
#arrow[placement^="bottom"] { top: -4px; }
#arrow[placement^="left"] { right: 1px; }
#arrow[placement^="right"] { left: -9px; }
