/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* editor content */
.contentRoot{ 
  height: 96vh; 
  /* width:1664px; */
  overflow-y: scroll; 
  transition: 2s; 
}
/* 스크롤바 */
::-webkit-scrollbar {
  background-color: hsl(var(--b1)); 
  width: 20px; 
  height: 20px;
} 
::-webkit-scrollbar-thumb { 
  background-color: hsl(var(--a)); 
  box-shadow: inset 10px 0 0 5px hsl(var(--b1));
  /* border-radius: 100px; */
  cursor: row-resize;
}
